Source: lubuntu-meta
Section: metapackages
Priority: optional
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com>
Uploaders: Simon Quigley <tsimonq2@ubuntu.com>
Standards-Version: 4.1.5
Build-Depends: debhelper (>= 11), germinate (>= 1.18)
Vcs-Browser: https://phab.lubuntu.me/source/lubuntu-meta/
Vcs-Git: https://phab.lubuntu.me/source/lubuntu-meta.git

Package: lubuntu-core
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Lubuntu Core Desktop environment
Description: Minimal core of Lubuntu
 This metapackage depends on all of the packages in the Lubuntu core
 system, that is a functional command-line system with the following
 capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: lubuntu-desktop
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Conflicts: lubuntu-gtk-core,
           lubuntu-gtk-desktop (<< 1.0),
           lubuntu-qt-core,
           lubuntu-qt-desktop (<< 1.0)
Replaces: lubuntu-gtk-core,
          lubuntu-gtk-desktop (<< 1.0),
          lubuntu-qt-core,
          lubuntu-qt-desktop (<< 1.0)
Provides: lubuntu-gtk-core,
          lubuntu-gtk-desktop,
          lubuntu-qt-core,
          lubuntu-qt-desktop
Description: Lubuntu Desktop environment
 This metapackage depends on all components which make up the Lubuntu Desktop.
 .
 It is also used to help ensure proper upgrades, but it can be safely removed
 if you want to remove some applications installed by default.
